/* Edit of Notepad Page */
.container-notepad {
    position: relative;
    background-color: rgb(255, 255, 255);
    width: 100%;
    height: 400px;
    display: flex
;
    /* justify-self: center; */
    justify-content: space-around;
    align-content: center;
    flex-wrap: wrap    
}

#addNote{
  position: absolute;
  width: 20%;
  height: 10%;
  margin-bottom: 20px;
  background-color: #fff;
}

ul#listOfNotes-container {
  position: absolute;
  top: 100px;
  left: 60px;
}
#listOfNotes-container li {
  position: relative;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 20px;
  background-color: cadetblue;
  border-radius: 10px;
  justify-content: left;
}