
body {
  display: flex;
  justify-content: flex-start;  /* بدل space-around */
  width: 100%;
  min-height: 100vh;
  background: linear-gradient(135deg ,#153677 ,rgba(255, 0, 0, 0.834));

}



.meue-services {
  position: fixed;
  transform: translateY(-50%);
  height: auto;
  top: 50%;
  width: 30%;
  left: 5%;
  max-width: 250px;
  height: 710px;
  margin-right: 30px;
  flex: 0 0 15%;        /* تمسك 20% من العرض */
  background-color: #fff;
  align-self: center;    
  border-radius: 30px;
  z-index: 100;
}



.menu-head {
  position: absolute;
  width:120%;
  height: 100%;
  justify-content: center;
  align-content: center;

}

.meue-services ul {
  display: flex;
  flex-direction: column;
  gap: 60px;
  justify-self: center;
  
}
.meue-services .li-menue {
  padding: 0;
  justify-self: center;
  margin-bottom: 10px;
  padding-bottom: 10px;
}
.li-menue img {
  position: absolute;
  width: 40px;
  margin-left: -70px;
}

.li-menue #btn-end-Task-Time {
  padding-left:20px ;
  padding-right:20px ;

}
.li-menue #btn-To-Do-List,
#btn-Note-Book,
#btn-end-Task-Time {
  padding: 10px 15px;
  border-radius: 30px;
  font-size:20px;
  border: none;
  background: linear-gradient(
      135deg,
      var(--clr-gradient-start) 0%,
      var(--clr-gradient-end)   100%
    );
  color: #fff;
  cursor: pointer;

  transition: 
  transform        0.3s ease,
  box-shadow       0.3s ease;
}

.li-menue #btn-To-Do-List:hover,
#btn-Note-Book:hover,
#btn-end-Task-Time:hover {
  transform: scale(1.1);
}



/* Edit of Notepad Page */
.container-notepad {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    /* justify-self: center; */
    justify-content: space-around;
    align-content: center;
    flex-wrap: wrap;
    overflow: auto;
    margin-left: 25%;  /* اترك مساحة كافية للهيدر الثابت */

}

.add {
  position: absolute;
  top: 30px;
  width: 100%;
  height: 10%;
  align-self: center;
  text-align: center;
}

#addNotes {
  padding: 15px 20px;
  border-radius: 10px;
  font-size: 20px;
  outline: none;
  border: none;
  cursor: pointer;
  transition: ease 0.3s;

}

#addNotes:hover {
  color: #fff;
  background: linear-gradient(135deg ,#153677 ,rgba(255, 0, 0, 0.834));
  transition: ease 0.3s;
}




.notes{
  position: relative;
  width: 100%;
  padding:10px;
  margin: 20px;
  background-color: #fff;
  min-height: 300px;
  border-radius: 10px;
  text-align: left;
  box-shadow: 0px 20px 10px rgba(0, 0, 0, 0.432);
  outline: none;
  transition: transform ease 0.3s;

}

.notes.active {
  background-color: #000000;
  color: #fff;
  position: relative;
  width: 100%;
  padding:10px;
  margin: 20px;
  min-height: 300px;
  border-radius: 10px;
  text-align: left;
  box-shadow: 0px 20px 10px rgb(255, 255, 255);
  outline: none;
  transform: scale(1.1);

  transition: transform ease 0.3s;

}



div#listOfNotes-container {
  position: relative;
  width: 80%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  justify-items: center;
  align-items: center;
  margin: 70px auto;
  padding: 20px;
}


.error-no-notes {

  position: absolute;
  height: 30%;
  width: 30%;
  left: 50%;
  top: 50%;
  border-radius: 30px;
  padding: 20px;
  background: #fff;
  align-content: center;
  text-align: center;
  box-shadow: 0px 20px #000;
  cursor: pointer;
  transition: ease 0.3s;
  user-select: none;
}

.error-no-notes:hover {
  transform: scale(1.2);
  transition: ease 0.3s;
  color: #fff;
  background: #000000;
  box-shadow: 0px 20px #ffffff;
}

#message-Error {
  font-size: 46px;
  color: red;
}


.Icon-DeleteTask {
  position: relative;
  display: flex; 
  justify-self: right;
  width: 15%;
  height: 15%;
  left:30px;
  bottom: 90px;
  padding: 10px;
  cursor: pointer;
  margin: 10px;
  transition: transform 0.2s ease;
}

img.Icon-DeleteTask:hover {
  position: relative;
  display: flex; 
  justify-self: right;
  width: 15%;
  height: 15%;
  padding: 10px;
  cursor: pointer;
  transform: scale(1.2);
  opacity: 0.8;
  transition: transform 0.2s ease, opacity 0.2s ease;
  background-color: #d43333;
  border-radius: 30px;
  color: #ffffff;
}





